{% extends 'app/base.html' %}
{% block body_block %}
<div class="createEvent">
    <h2>Login</h2>
    <form action="{% url 'app:student_user_login'%}" method="post">
        {% csrf_token %}
        <div class="createEvent__group">
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username">
        </div>
        <div class="createEvent__group">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">
        </div>
        <div class="createEvent__group">
            <input type="submit" class="createEvent__submit" value="Login">
        </div>
    </form>
  </div>
{% endblock %}

